* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(120deg,  #fcfcfc, #d1d1d1);
    min-height: 100vh;
    
    
}
.container {
    display: grid;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
    min-height: 100vh;
}
.item {
    grid-column: 3 / span 1;
    grid-row: 2 / 3;
}

.input {
    border: none;
    height: 50px;
}

input[type=text] {
    font-family: 'Cinzel', serif;
}

input[type=submit]{
    font-family: 'Cinzel', serif;
    border: none;
    
}